# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Common/Release/
Common/Debug/
Common/Common/Release/
Common/Common/Debug/
Common/.vs/
Common/ipch/
Common/Common.VC.VC.opendb
Common.VC.db